header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000006c;
    z-index: 11;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

.headerLeft {
    display: flex;
    align-items: center;
}
.headerLeft img {
    width: 170px;
    display: block;
    margin-right: 60px;
}
.headerLeft ul {
    display: flex;
    align-items: center;
}
.headerLeft ul li {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 0 15px;
    font-family: "Inter", sans-serif;
}




.headerRight {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerRight input {
    width: 230px;
    height: 45px;
    border: none;
    background-color: #f4f5f5;
    outline: none;
    font-size: 16px;
    padding: 0 15px;
    margin-right: 15px;
    border-radius: 40px;
    font-family: "Inter", sans-serif;
}

.headerRight button {
    height: 45px;
    padding: 0 15px;
    background-color: #ea3323;
    color: #fff;
    border: none;
    border-radius: 40px;
    
}
.headerRight button span {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.headerRight button img {
    display: none;
}

.headerRight img {
    width: 20px;
    margin-left: 20px;
    display: none;
}







@media (max-width: 1300px) {
    .overlay.active {
        opacity: 1;
        pointer-events: all;
    }
    .headerLeft img {
        margin-right: 0;
    }
    .headerLeft ul {
        width: 250px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -300px;
        z-index: 100;
        background-color: #fff;
        flex-direction: column;
        align-items: flex-start;
        padding: 50px 30px;
        transition: .3s;
    }
    .headerLeft ul.active {
        left: 0;
    }

    .headerLeft ul li {
        margin: 0;
        margin-bottom: 25px;
        font-weight: 500;
    }
    
    .headerRight img {
        display: block;
    }
}







@media (max-width: 650px) {
    .headerLeft img {
        width: 120px;
    }

    .headerRight input {
        width: 170px;
        height: 40px;
        font-size: 14px;
        padding: 0 10px;
    }

    .headerRight button {
        width: 40px;
        height: 40px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .headerRight button span {
        display: none;
    }
    .headerRight button img {
        width: 17px;
        display: block;
        filter: invert(1);
        margin: 0;
    }
}






@media (max-width: 500px) {
    .headerLeft img {
        width: 90px;
    }


    .headerRight input {
        width: 150px;
        height: 37px;
        font-size: 12px;
        margin-right: 7px;
    }
    .headerRight button {
        width: 37px;
        height: 37px;
    }


    .headerRight img {
        margin-left: 10px;
    }

}